## Relatório da validação

A validação foi feita na casa de um casal no qual cada um cabe dentro dos dois grupos atendidos pelo app:

## 1. Ana é cuida de animais dentro de casa e da rua.
## 2. Cleyton é funcionário público da prefeitura de fortaleza.

Ana foi guiada pelo fluxo de tutores de animais e Cleyton pelo fluxo de servidor público que realiza o atendimento à população.

Usando o App Expo Go, escaneei o qrCode gerado sempre que uma aplicação Expo é executada no terminal de comando, e pude testar a interface e fluxo do "Gestão-pet" no meu próprio celular, o qual disponibilizei para os dois usuários. Isto pode ser realizado por digitar o comando "npx expo start", tendo o Node.js instalado em seu computador.